# Git Ignore for My Project.
# -----------------------------------------------------------------------------

# Kapow! setup script.
# -------------------------------------
kapow.sh

# Flotsam & Jetsam.
# -------------------------------------
.DS_Store

# Nested Git files.
# -------------------------------------
build/**/.git
build/**/.gitignore
build/**/.gitmodules

# Assets & Grunt files - Stop accidental commits
# -------------------------------------
assets/css/*
assets/glob/
assets/scss/base/_sprites.scss
assets/js/lib/_modernizr-custom.js
assets/scss/glob/*
assets/js/*.tmp.js
!assets/css/.gitkeep
imgcache/*
yarn-error.log

# Composer.
# -------------------------------------
vendor
!assets/scss/vendor
!build/wp-content/**/vendor/

# Dependencies.
# -------------------------------------
bower_components
node_modules

# Documentation & Reports.
# -------------------------------------
wpcs-errors.md

# WordPress.
# -------------------------------------

# Root
build/*
!build/static/
!build/polyfills/
!build/wp-content/
!build/index.php
!build/local-config.php
!build/robots.txt
!build/wp-config.php
!build/.htaccess

# WP Content
build/wp-content/debug.log
build/wp-content/advanced-cache.php
build/wp-content/backup-db/
build/wp-content/backups/
build/wp-content/blogs.dir/
build/wp-content/cache/
build/wp-content/plugins/hello.php
build/wp-content/uploads/
build/wp-content/upgrade/
build/wp-content/wp-cache-config.php
build/wp-content/plugins/hello.php
!build/wp-content/**/vendor/

# Themes - Stock
build/wp-content/themes/twentyten/
build/wp-content/themes/twentyeleven/
build/wp-content/themes/twentytwelve/
build/wp-content/themes/twentythirteen/
build/wp-content/themes/twentyfourteen/
build/wp-content/themes/twentyfifteen/
build/wp-content/themes/twentysixteen/
build/wp-content/themes/twentyseventeen/
build/wp-content/themes/twentyeighteen/
build/wp-content/themes/twentynineteen/

# Themes - Custom
build/wp-content/themes/mkdo-nhs-theme/assets/css/
build/wp-content/themes/mkdo-nhs-theme/assets/js/
build/wp-content/themes/mkdo-nhs-theme/style.css
build/wp-content/themes/mkdo-nhs-theme/style.css.map
