// Helper classes for things such as clearfix, containers, visibility etc.
// --------------------------------------------------------------------------
// All helper classes that are greater than one declaration should also
// be defined as a mixin in config/_mixins.
// --------------------------------------------------------------------------


// Layout
.row {
	@include columns;
}

.col-half {
	@include kp-mq(sm) {
		width: 50%;
	}
}

// Backgrounds
// -------------------------------------
.bg-img {
	@include kp-bg-image;
}

// Centering.
// -------------------------------------
.center-block {
	@include kp-center-block;
}

.center-both {
	@include kp-center-both;
}

// Clearfix.
// -------------------------------------
.clearfix {
	@include kp-clearfix;
}

// Embedded content styles e.g YouTube, Google Maps, Twitter etc.
// --------------------------------------------------------------------------
// Enclose embedded content in a <div>
// with the `responsive-embed` class to
// make it fully responsive.
//
// Embeds that are added to WordPress
// posts/pages are enclosed in a <div>
// with this class by default when used
// in conjunction with Kapow! Theme.
// -------------------------------------
.responsive-embed {
	@include kp-responsive-embed;
}

// Hide text while making it readable
// for screen readers.
// -------------------------------------
.hide-text {
	@include kp-hide-text;
}

// Hide visually & from screen readers.
// -------------------------------------
.hidden {
	display: none !important;
}

// Hide visually & from screen readers,
// but maintain layout.
// -------------------------------------
.invisible {
	visibility: hidden !important;
}

// Remove Margin.
// -------------------------------------
.no-margin {
	margin: 0;
}

.no-hmargin {
	@include kp-no-hmargin;
}

.no-vmargin {
	@include kp-no-vmargin;
}

// Remove Padding.
// -------------------------------------
.no-padding {
	padding: 0;
}

.no-hpadding {
	@include kp-no-hpadding;
}

.no-vpadding {
	@include kp-no-vpadding;
}

// Reset ul/ol list styles.
// -------------------------------------
// Removes list margin and padding.
.reset-list {
	@include kp-reset-list;
}

// As above but with no list item style.
.reset-list-style {
	@include kp-reset-list(true);
}

// As above but with `float: left` on list items.
.make-list-nav {
	@include kp-reset-list(true, true);
}

// Reset buttons
.reset-button {
	@include kp-reset-button;
}

// Hide only visually, but have it
// available for screen readers.
// -------------------------------------
.screen-reader-text,
.sr-only,
.visuallyhidden {
	@include kp-visuallyhidden;
}

// Classes to quickly flip an element
// on a particular axis using CSS3.
// -------------------------------------
.flip-x {
	@include kp-flip-axis(X);
}

.flip-y {
	@include kp-flip-axis(Y);
}
