// Base Values.
// -------------------------------------

$global--header-height        : 50px;

$global--transition-duration  : 150ms;
$global--transition           : all $global--transition-duration ease-in-out;

$global--border-basic         : 2px solid $mkdo-nhs-theme--offwhite;

$global--border-radius-small  : 3px;
$global--border-radius        : 5px;
$global--border-radius-large  : 6px;

$global--box-shadow           : 0 0 6px rgba($mkdo-nhs-theme--grey, 0.1), 0 0 20px rgba($mkdo-nhs-theme--grey, 0.13);

$global--font-size            : 16px !default;

// Wraps
$global--container-width      : 1200px;
$global--container-readability: 570px;
$global--container-form       : 380px;

$global--container-content    : 650px;
$global--container-sidebar    : 460px;

// Spacing
$global--spacing-lg           : 60px;
$global--spacing-md           : 30px;
$global--spacing-common       : 20px;
$global--spacing-sm           : 10px;
$global--spacing-xs           : 8px;

$global--gutter-width         : $global--spacing-common;
