// Font Stacks.
// -------------------------------------

// Font Stack - Monospaced.
$kp-font-stack--monospaced: Consolas, "Courier New", Monaco "Lucida Console", monospace !default;

// Font Stack - Serif.
$kp-font-stack--serif: Georgia, Times, "Times New Roman", serif !default;

// Font Stack - Sans Serif.
$kp-font-stack--sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Font Sizes.
// -------------------------------------

// Font Size - Copy Extra Large.
$kp-font-size--xlarge: 20px !default;

// Font Size - Copy Large.
$kp-font-size--large: 18px !default;

// Font Size - Copy Medium.
$kp-font-size--medium: 16px !default;

// Font Size - Copy Small.
$kp-font-size--small: 14px !default;

// Font Size - Copy Extra Small.
$kp-font-size--xsmall: 12px !default;

// Font Size - Heading 1.
$kp-font-size--h1: 36px !default;

// Font Size - Heading 2.
$kp-font-size--h2: 32px !default;

// Font Size - Heading 3.
$kp-font-size--h3: 28px !default;

// Font Size - Heading 4.
$kp-font-size--h4: 26px !default;

// Font Size - Heading 5.
$kp-font-size--h5: 24px !default;

// Font Size - Heading 6.
$kp-font-size--h6: 22px !default;

// Font Weights.
// -------------------------------------

// Font Weight - Bold.
$kp-font-weight--bold: 700 !default;

// Font Weight - Semi Bold.
$kp-font-weight--semibold: 600 !default;

// Font Weight - Normal.
$kp-font-weight--normal: 400 !default;

// Font Weight - Light.
$kp-font-weight--light: 300 !default;

// Line Heights.
// -------------------------------------

// Line Height - Large.
$kp-line-height--large: 1.75em !default;

// Line Height - Medium.
$kp-line-height--medium: 1.5em !default;

// Line Height - Small.
$kp-line-height--small: 1.25em !default;
