/// Reset button styles.
/// @group helpers
/// @example scss - Reset default button styles.
/// 	.button {
/// 		@include kp-reset-button();
/// 	}
@mixin kp-reset-button {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}

/// Reset list styles.
/// @group helpers
/// @param {Bool} reset-style [false] - Reset list style.
/// @param {Bool} float [false] - Float the list.
/// @example scss - Reset and float the <ul>.
/// 	ul {
/// 		@include kp-reset-list(true, true);
/// 	}
@mixin kp-reset-list($reset-style: false, $float: false) {
	margin: 0;
	padding: 0;

	@if $reset-style {
		list-style: none;
	}

	@if $float {
		overflow: hidden;
	}

	li {
		@if $float {
			float: left;
		}
	}
}
