// Alignment - centered for mobiles and
// floated for everything else.
// ------------------------------------
.aligncenter,
.alignleft,
.alignright,
.alignnone {
	@include kp-center-block;
	float: none;
	margin-bottom: kp-rem($global--spacing-common);
	margin-top: kp-rem($global--spacing-common);
}

@include kp-mq(sm) {
	.aligncenter {
		@include kp-center-block;
	}

	.alignleft {
		display: inline;
		float: left;
		margin-left: 0;
		margin-right: kp-rem($global--spacing-common);
	}

	.alignright {
		display: inline;
		float: right;
		margin-left: kp-rem($global--spacing-common);
		margin-right: 0;
	}

	.alignnone {
		clear: both;
		display: inline;
		float: none;
	}
}

// Captions.
// ------------------------------------
.wp-caption {
	margin-bottom: kp-rem($global--spacing-common);
	max-width: 100%;

	.wp-caption-text {
		margin: kp-rem(8px);
	}
}

.wp-caption-text {
	text-align: center;
}

// Comments.
// ------------------------------------
.bypostauthor {
	display: block;
}

.comment-content {
	a {
		word-wrap: break-word;
	}
}

// Edit link - makes it a fixed link in
// the bottom left hand corner.
// ------------------------------------
.edit-link {
	background-color: $mkdo-nhs-theme--primary;
	bottom: 0;
	color: $mkdo-nhs-theme--white;
	display: block;
	font-weight: $kp-font-weight--bold;
	left: 0;
	padding: kp-rem($global--spacing-common / 2);
	position: fixed;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color ease-in-out 0.3s;
	z-index: 9999;

	@include kp-on-event {
		background-color: darken($mkdo-nhs-theme--primary, 20%);
		color: $mkdo-nhs-theme--white;
	}
}

.post-edit-link {
	color: $mkdo-nhs-theme--white;
	text-decoration: none;

	@include kp-on-event {
		color: $mkdo-nhs-theme--white;
	}
}

// Gallery - fully responsive.
// ------------------------------------
.gallery {
	margin-bottom: kp-rem($global--spacing-common);
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 50%;

	@include kp-mq(xs) {
		max-width: 33.333%;
		width: 33.333%;
	}

	@include kp-mq(sm) {
		max-width: 25%;
		width: 25%;
	}

	@include kp-mq(md) {
		width: auto;

		.gallery-columns-2 & {
			max-width: 50%;
		}

		.gallery-columns-3 & {
			max-width: 33.33%;
		}

		.gallery-columns-4 & {
			max-width: 25%;
		}

		.gallery-columns-5 & {
			max-width: 20%;
		}

		.gallery-columns-6 & {
			max-width: 16.66%;
		}

		.gallery-columns-7 & {
			max-width: 14.28%;
		}

		.gallery-columns-8 & {
			max-width: 12.5%;
		}

		.gallery-columns-9 & {
			max-width: 11.11%;
		}
	}
}

.gallery-caption {
	display: block;
	margin: kp-rem(8px);
}

// Page Links.
// -------------------------------------
.page-links {
	clear: both;
	margin: 0 0 kp-rem($global--spacing-common);
}

// Sticky Posts.
// -------------------------------------
.sticky {
	display: block;
}
