blockquote {
	padding: $global--spacing-common 0px;
	margin: kp-rem($global--spacing-common) 0px;
	border-top: $global--border-basic;
	border-bottom: $global--border-basic;

	p {
		font-size: kp-rem(20px);
		quotes: '\201c' '\201d';

		&:before {
			content: open-quote;
		}

		&:after {
			content: close-quote;
		}

		& + p {
			margin-top: 0;
		}
		&:first-child {
			margin-top: 0;
		}
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}
