// Main Menu, General Navigation, Pagination and Breadcrumb styles.
// --------------------------------------------------------------------------

// Hide the menu for smaller screens and
// show it for larger.
// -------------------------------------
.primary-menu {
	display: none;
	position: relative;

	@include kp-mq($kp-mobile-nav-breakpoint) {
		display: block;
	}

	// Show the menu on mobile if it's been
	// toggled with Javascript.
	// -------------------------------------
	.toggled & {
		@include kp-mq(#{$kp-mobile-nav-breakpoint}-max) {
			display: block;
		}
	}

	// Top tier nav items must be relative
	// for sub-menus to appear correctly.
	// -------------------------------------
	> li {
		position: relative;
	}

	// Show the sub-menu on hover/focus of a
	// top tier menu item.
	// -------------------------------------
	.menu-item-has-children {
		@include kp-on-event {
			.sub-menu {
				display: block;
				left: 0;
				position: absolute;
				top: 100%;
			}
		}
	}
}

// Sub-menus should not be visible by
// default, as they are activated by
// hovering/focusing on a top tier item.
// -------------------------------------
.sub-menu {
	display: none;
}

// Show the toggle for smaller screens,
// and hide it for larger ones.
// -------------------------------------
.menu-toggle {
	display: inline-block;

	@include kp-mq($kp-mobile-nav-breakpoint) {
		display: none;
	}
}
