// Typographic styles.
// --------------------------------------------------------------------------
// The goal is to control as much of the global typography as possible from
// within this file e.g. family/size/weight/style, line-height, colour etc
// --------------------------------------------------------------------------

// Links
a {
	color: $kp-colour-content--link;
	@include kp-on-event {
		color: $kp-colour-content--link-hover;
	}
}

// Headings
h1,h2,h3,h4,h5,h6 {
	@include heading;
	clear: both;
	margin: kp-rem($global--spacing-common * 1.5) 0 kp-rem($global--spacing-common);
}
h1 {@include heading(heading-1);}
h2 {@include heading(heading-2);}
h3 {@include heading(heading-3);}
h4 {@include heading(heading-4);}
h5 {@include heading(heading-5);}
h6 {@include heading(heading-6);}

// Paragraph
p {
	margin-bottom: kp-rem($global--spacing-common);
	font-size: kp-rem($kp-font-size--medium);
}

// Lists
li {
	font-size: kp-rem($kp-font-size--medium);
	margin-bottom: kp-rem($global--spacing-common / 2);
	> ol,
	> ul {
		margin-bottom: 0;
		margin-left: kp-rem($global--spacing-common);
	}
}

ul {
	list-style-type: square;

	ol,
	ul {
		margin-bottom: kp-rem($global--spacing-common / 2);
		margin-top: kp-rem($global--spacing-common / 2);
	}
}

ol {
	list-style: decimal;

	ol,
	ul {
		margin-bottom: kp-rem($global--spacing-common / 2);
		margin-top: kp-rem($global--spacing-common / 2);
	}
}

// Pre
pre {
	background-color: $mkdo-nhs-theme--dark;
	margin: kp-rem($global--spacing-common);
	overflow: auto;
	padding: kp-rem($global--spacing-common);
	color: $mkdo-nhs-theme--offwhite;
}
